<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.aventinesolutions.riel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Riel</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="matthew.eichler@aventinesolutions.nl" href="http://aventinesolutions.nl">
        Apache Cordova Team
    </author>
    <content src="index.html" />
</widget>
